<h2><a href="index.php">起始页</a></h2>
<ul>
    <li>
        <dl>
            <dt>物流信息</dt>
            <!--当前链接则添加class:active-->
            <dd><a href="#" class="active">信息录入</a></dd>
            <dd><a href="#">商品分类</a></dd>
            <dd><a href="#">商品属性</a></dd>
            <dd><a href="#">品牌管理</a></dd>
        </dl>
    </li>


</ul>